# .gitignore for Grails 1.2 and 1.3 (updated with miscellaneous from 
# grails 2.1.0 grails integrate-with --git command 

# web application files
/web-app/WEB-INF

# IDE support files
/.classpath
/.launch
/.project
/.settings
/*.launch
/*.tmproj
/ivy*
/eclipse

# default HSQL database files for production mode
/prodDb.*

# general HSQL database files
*Db.properties
*Db.script

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# plugin release file
/*.zip

# older plugin install locations
/plugins
/web-app/plugins
/web-app/WEB-INF/classes

# "temporary" build files
/target

# other
*.iws

# miscellaneous - ones in grails integrate-with --git
/plugin.xml
/cobertura.ser
/*.log
/*DB.*
.DS_Store
/out

# others
/bin
/target-eclipse